<div style="margin: auto; width: 80%; margin-top: 40px;">
    <h4>ADD FUNNY ARTICLE</h4>
    <form action="/addfunny" method="post">
        <input type="text" name="title" class="form-control" placeholder="Enter title" id="">
        <br>
        <input type="text" name="author" class="form-control" placeholder="Enter author">
        <br>
        <input type="text" name="pic" class="form-control" placeholder="Enter URL">
        <br>
        
            
            
          <br>
<textarea name="desc" placeholder="Enter description" class="form-control" id="" cols="30" rows="10"></textarea>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Add</button>
        
</div>