<style>
  @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
  </style>

<nav class="navbar navbar-expand-lg navbar-light bg-success">
   
    <a class="navbar-brand" style="color: aliceblue; font-weight: 700; font-size: 60px; font-family: 'Ranchers', cursive;" href="/">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  BlogApp &#128395; </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="nav-link active" style="color: aliceblue;" aria-current="page" href="/allsports">Sports</a>
    <a class="nav-link active" style="color: aliceblue;" aria-current="page" href="/allarts">Arts</a>
    <a class="nav-link active" style="color: aliceblue;" aria-current="page" href="/allpolitics">Politic</a>
    <a class="nav-link active" style="color: aliceblue;" aria-current="page" href="/allfunnys">Funny</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="margin-left: auto;">
      
        
        <div class="btn-group dropstart" style="margin-left: -80px;">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="addbtn">
            Add 
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/add">Add Sport</a></li>
            <li><a class="dropdown-item" href="/addart">Add Art</a></li>
            <li><a class="dropdown-item" href="/addpolitic">Add Politic</a></li>
            <li><a class="dropdown-item" href="/addfunny">Add Funny</a></li>
          </ul>
        </div>
        
      </ul>
    </div>
  
  </nav>